<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
    <form action="/team" method="post">
        <div>
            <label for="team">Team Name:</label>
            <input type="text" id="team" name="name">
        </div>
        <div>
            <label for="coach">Coach:</label>
            <input type="text" id="coach" name="coach">
        </div>
        <div>
            <label for="guard">Point Guard:</label>
            <input type="text" id="guard" name="pg">
        </div>
        <div>
            <label for="shooting">Shooting Guard:</label>
            <input type="text" id="shooting" name="sg">
        </div>
        <div>
            <label for="small">Small Forward:</label>
            <input type="text" id="small" name="sf">
        </div>
        <div>
            <label for="power">Power Forward:</label>
            <input type="text" id="power" name="pf">
        </div>
        <div>
            <label for="center">Center:</label>
            <input type="text" id="center" name="c">
        </div>
        <div>
            <button type="submit" id="Submit">Submit</button>
        </div>
    </form>
 </body>
</html>


