<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create A Basketball Team!</h1>
    <form method="POST" action="/team">
       <div>
          <label for="team">Team Name:</label>
          <input type="text" id="name" name="name">
       </div>

       <div>
          <label for="coach">Coach:</label>
          <input type="text" id="coach" name="coach">
       </div>

       <div>
          <label for="point guard">Point Guard:</label>
          <input type="text" id="pg" name="pg">
       </div>

       <div>
          <label for="shooting guard">Shooting Guard:</label>
          <input type="tecxt" id="sg" name="sg">
       </div>

       <div>
          <label for="small forward">Small Forward:</label>
          <input type="text" id="sf" name="sf">
       </div>

       <div>
          <label for="power forward">Power Forward:</label>
          <input type="text" id="pf" name="pf">
       </div>

       <div>
          <label for="centre">Centre:</label>
          <input type="text" id="c" name="c">
       </div>

       <div>
          <button type="submit" id="Submit">Submit</button>
       </div>

    </form>
 </body>
</html>
